<%# Habits Schema %>
    <%# t.float "cost_a_pack"
    t.integer "avg_cig" %>

<%# Money Saved %>
<div class="modal fade" id="money-saved" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-container saved-money-modal">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Money Saved</h5>
      <span class="iconify modal-icon" data-icon="bx:bx-dollar-circle" data-inline="false" style="color: #F9D532;"></span>
      </div>
      <div class="modal-body">
        <div class="main-content">
        <p id="currency">짜</p>
        <p id="total">204.00</p>
        </div>
        <div class="forecast">
          <p>
            <span class="forecast-curr">짜</span>
            <span class="forecast-text"><%= @habits.cost_a_pack * 7 %> /Week</span>
          </p>
          <p>
            <span class="forecast-curr">짜</span>
            <span class="forecast-text"><%= @habits.cost_a_pack * 30 %> /Month</span>
          </p>
          <p>
            <span class="forecast-curr">짜</span>
            <span class="forecast-text"><%= @habits.cost_a_pack * 365 %> /Year</span>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%# Cigs Free %>
<div class="modal fade" id="cigs-free" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-container cig-free-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cigarettes Not Smoked</h5>
        <span class="iconify modal-icon" data-inline="false" data-icon="cil:smoke-free" style="color: #68E2F6;"></span>
      </div>
      <div class="modal-body">
        <div class="main-content">
        <p id="total">52</p>
        <p id="cigs">cigs.</p>
        </div>
        <div class="forecast">
          <p>
            <span class="forecast-text"><%= @habits.avg_cig * 7 %> cigs. /Week</span>
          </p>
          <p>
            <span class="forecast-text"><%= @habits.avg_cig * 30 %> cigs. /Month</span>
          </p>
          <p>
            <span class="forecast-text"><%= @habits.avg_cig * 365 %>cigs. /Year</span>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
