<div class="devise-form-container">
  <h2>Sign up</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <div class="form-inputs">
          <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
          <%= f.input :username, require: true %>
          <%= f.input :avg_cig, label: "How many cigarettes do you smoke per day?" %>
          <%= f.input :cost_a_pack, label: "How much does a pack of cigarettes cost?" %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
      </div>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
