<div class='container'>
  <div class="stats-title">
    <h1>My Stats</h1>
    <p id="back"><%= link_to "Back", profile_path %></p>
  </div>
  <div class="charts">
    <div class="cigarettes-chart">
      <canvas id="cigChart" width="80%" height="50%" data-cigs="<%= @date_cigs %>"></canvas>
    </div>

    <div class="cigarettes-chart">
      <canvas id="feelingsChart" width="80%" height="50%" data-feelings="<%= @feelings_count.to_json %>"></canvas>
    </div>

    <div class="cigarettes-chart">
      <canvas id="contextChart" width="80%" height="50%" data-context="<%= @context_count.to_json %>"></canvas>
    </div>
  </div>

  <%= javascript_pack_tag 'cigs-chart' %>
  <%= javascript_pack_tag 'context-chart' %>
  <%= javascript_pack_tag 'feelings-chart' %>
</div>
