<div class="race-index">
  <div class="race-nav">
    <%= link_to  "RACE DASHBOARD", race_dashboard_path, class: 'race-nav-btn' %>
    <%= link_to  "PROFILE", profile_path, class: 'race-nav-btn' %>
  </div>
  <div class="race-index-top"></div>
  <div class="race-index-bottom"></div>
  <div class="race-index-info-holder">
    <div class="custom-container">
      <% @races.each do |race| %>
        <% unless user_is_racer?(race) || user_has_bets_on_race?(race) %>
          <div class="race-index-custom-card upcoming-card thick-border" >
            <div class="race-index-card-title">
              <%= name_race(race) %>
            </div>
            <div class="race-index-card-starttime">
              Start Time: <%= Race::MONTHS[race.start_time.month]%>, <%= race.start_time.day  %>
              <br>
              End Time: <%= Race::MONTHS[race.end_time.month]%>, <%= race.end_time.day  %>
            </div>
            <%= link_to  "Bet on this race", new_race_bet_path(race), class: "race-btn" %>
            <% unless race_full?(race) %>
              <%= link_to  "Join this race", race_path(race), class: "race-btn" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "races-index" %>
