<h1>This page will allow users to choose from races to join</h1>
<div class="race-index-btn-container">
  <button id="upcoming-btn">View upcoming races</button>
  <button id="ongoing-btn">View ongoing races</button>
  <div>
    <div class="custom-container">
      <% @races.each do |race| %>
        <div class="custom-card <%= race_ongoing?(race) ? 'ongoing-card' : 'upcoming-card'%>" hidden>
          <div class="custom-card-title">
            <%= name_race(race) %>
          </div>
          <div class="race-index-card-starttime">
            Start Time: <%= Race::MONTHS[race.start_time.month]%>, <%= race.start_time.day  %>
          </div>
          <% if race_not_started?(race) %>
            <%= link_to  "Bet on this race", new_race_bet_path(race), class: "link-btn" %>
            <%= link_to  "Join this race", race_path(race), class: "link-btn" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "races-index" %>
