<div class="race-dashboard-container">
  <div class="uncollected-earnings">
    <% if @unclaimed_winnings.length > 0 %>
      <div class="uncollected-earnings-box">
        <div class="closer-btn">X</div>
        YOU HAVE UNCOLLECTED WINNINGS FROM BETS.
        <button class="race-btn" id="claim-money-btn">💰CLAIM MY MONEY💰</button>
      </div>
    </div>
  <% end %>
  <div class="dashboard-box">
    <div class="small-title">Nicotine Derby</div>
    <p id="balance">YOUR BALANCE: $<%= number_with_delimiter(@balance) %></p>
    <div class="dashboard-buttons">
      <button id="upcoming-race-btn" class="race-btn" value="upcomingRaces">UPCOMING</button>
      <button id="open-race-btn" class="race-btn" value="openRaces">OPEN</button>
      <button id="finished-race-btn" class="race-btn" value="completedRaces" >FINISHED</button>
    </div>
    <div class="upcoming-races" hidden>
      <div class="smaller-title">Upcoming Races</div>
      <div class="flex-direction-row center">
        <div class="flex-direction-column">
          <div class="box-column underline">Betting on</div>
          <div class="race-list">
            <% betting_on_upcoming = 0 %>
            <% @bets.each do |bet| %>
              <% if race_not_started?(bet.race) && betting_on_upcoming < 4 %>
                <% betting_on_upcoming += 1%>
                <%= link_to race_path(bet.race) do%>
                  <div class="race-list-item"><%= short_name(bet.race) %> </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="flex-direction-column">
          <div class="box-column underline">Racing in</div>
          <div class="race-list">
            <% racing_in_upcoming = 0 %>
            <% @my_lanes.each do |lane| %>
              <% if race_not_started?(lane.race) && racing_in_upcoming < 4 %>
                <% racing_in_upcoming += 1%>
                <%= link_to race_path(lane.race) do%>
                  <div class="race-list-item"><%= short_name(lane.race) %> </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class=""></div>
      </div>
    </div>
    <div class="open-races">
      <div class="smaller-title">Open Races</div>
      <div class="flex-direction-row center">
        <div class="flex-direction-column">
          <div class="box-column underline">Betting on</div>
          <div class="race-list">
            <% betting_on_open = 0 %>
            <% @bets.each do |bet| %>
              <% if race_ongoing?(bet.race) && betting_on_open < 4 %>
                <% betting_on_open += 1%>
                <%= link_to race_path(bet.race) do%>
                  <div class="race-list-item"><%= short_name(bet.race) %> </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="flex-direction-column">
          <div class="box-column underline">Racing in</div>
          <div class="race-list">
            <% racing_in_open = 0 %>
            <% @my_lanes.each do |lane| %>
              <% if race_ongoing?(lane.race) && racing_in_open < 4 %>
                <% racing_in_open += 1%>
                <%= link_to race_path(lane.race) do%>
                  <div class="race-list-item"><%= short_name(lane.race) %> </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class=""></div>
      </div>
    </div>
    <div class="completed-races" hidden >
      <div class="smaller-title">Finished Races</div>
      <div class="flex-direction-row center">
        <div class="flex-direction-column">
          <div class="box-column underline">Bet on</div>
          <div class="race-list">
            <% betting_on_completed = 0 %>
            <% @bets.each do |bet| %>
              <% if race_finished?(bet.race) && betting_on_completed < 4 %>
                <% betting_on_completed += 1%>
                <%= link_to race_path(bet.race) do%>
                  <div class="race-list-item"><%= short_name(bet.race) %> </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="flex-direction-column">
          <div class="box-column underline">Raced in</div>
          <div class="race-list">
            <% racing_in_completed = 0 %>
            <% @my_lanes.each do |lane| %>
              <% if race_finished?(lane.race) && racing_in_completed < 4%>
                <% racing_in_completed += 1 %>
                <%= link_to race_path(lane.race) do%>
                  <div class="race-list-item"><%= short_name(lane.race) %></div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class=""></div>
      </div>
    </div>
    <div class="menu-box ">
      <div class="smaller-title">Menu</div>
      <%= link_to  "FIND A NEW RACE", races_path, class: 'race-btn' %>
      <%= link_to  "CREATE A RACE", new_race_path, class: 'race-btn' %>
      <%= link_to  "GET MONEY", game_path, class: 'race-btn'%>
      <%= link_to  "PROFILE", profile_path, class: 'race-btn'%>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'race-dashboard' %>
