<div class="new-bet">
  <div class="new-bet-top"></div>
  <div class="new-bet-bottom"></div>
  <div class="race-nav">
    <%= link_to  "RACE DASHBOARD", race_dashboard_path, class: 'race-nav-btn' %>
    <%= link_to  "PROFILE", profile_path, class: 'race-nav-btn' %>
  </div>
  <div class="stuff-container">
    <%= simple_form_for [@race, @bet] do |f| %>
      <div class="new-bet-racers-container">
        The Nicotine Derby
        <div class="new-bet-racers-info-container thick-border">
          <div class="new-bet-racer-column">
            <div class="column-title">Racer</div>
            <%= f.input :lane_id, label: "Choose a racer", collection: @race.lanes.map {|lane| [lane.user.username, lane.id]}, as: :radio_buttons %>
          </div>
          <div class="new-bet-stats-column">
            <div class="column-title">Stats</div>
          </div>
        </div>
      </div>
      <div class="new-bet-timer-container thick-border">
        <div class="timer-title">RACE BEGINS IN</div>
        <div class="new-bet-timer"><%= (@race.start_time - Time.now).to_i %></div>
      </div>
      <div class="bet-placer thick-border">
        <div class="current-pool">Your balanace: $<%= number_with_delimiter(@user.balance)  %></div>
        <div class="current-pool">Current pool: $<%= number_with_delimiter(@pool) %></div>
        <div style="display: flex;"><%= image_tag 'dollar', height: 40, width: 29 %><%= f.input :amount, label: false, input_html: {min: 10, max: 1000, value: 10, step: 10} %></div>
        <%= f.submit "Bet", class: 'race-btn'%>
      </div>
    <% end %>
    <div class="hidden-info" data-hidden-info="<%=@average_cigs.to_json %>" hidden></div>
    <div class="user-balance" data-balance="<%= @user.balance %>" hidden></div>
  </div>
</div>
<%= javascript_pack_tag 'new-bets' %>
