<div class="navbar navbar-dark bg-dark navbar-expand-sm navbar-lewagon">

  <%= link_to profile_path, class: "icon" do %>
    <span class="iconify" data-icon="bx:bx-user" data-inline="false"></span>
  <% end %>

  <%= link_to entries_path, class: "icon" do %>
    <span class="iconify" data-icon="uil:diary" data-inline="false"></span>
  <% end %>

  <%= link_to new_entry_path do  %>
    <div class="add-entry">
      <span class="iconify" data-icon="carbon:add-filled" data-inline="false"></span>
    </div>
  <% end %>

  <span class="iconify icon award " data-icon="tabler:award" data-inline="false"></span>

  <button class="navbar-toggler toggle-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse logout" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
