<div class="main-container">
  <div class="upper-section">
    <div class="user-welcome">
      <div class="avatar-img">
        <%= image_tag "https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80", class: "avatar-large"%>
      </div>
      <div class="welcome-text">
        <h3>Welcome back <%= current_user.username.capitalize %></h3>
        <p>How are you feeling today?</p>
        <p class="new-entry"><%= link_to "Log a new entry", new_entry_path, id: 'new-entry' %></p>
      </div>
      <p>
        <%= link_to destroy_user_session_path, id:'logout' do %>
          <i class="fas fa-ellipsis-v"></i>
        <% end %>
      </p>
    </div>
  </div>
  <div class="middle-section">
    <div class="progress-dashboard responsive-position">
      <h3>Your progress dashboard</h3>
      <div class="progress-cards">
        <div class="progress-element">
          <div class="number">
            <p>$</p>
            <p><%= @counters[:total_money] %></p>
          </div>
          <p class="elem-text">Money Saved</p>
        </div>
        <div class="progress-element">
          <div id="cigs-color" class="number">
            <p><%= @counters[:total_cigs] %></p>
          </div>
          <p class="elem-text">Cigarettes Not Smoked</p>
        </div>
        <div class="progress-element">
          <div id="balance-color" class="number">
            <p>$<%= @user_balance %></p>
          </div>
          <p class="elem-text">Races Balance</p>
        </div>
      </div>
    </div>
    <div class="link-cards">
      <%= link_to entries_path, id: 'diary-link', class: "link-card" do %>
        <div class="svg-container">
          <span class="iconify" data-inline="false" data-icon="fluent:book-star-24-regular" style="color: #fff;"></span>
        </div>
        <h5>Diary</h5>
        <p>Find and review all your entries here</p>
      <% end %>
      <%= link_to my_stats_path, id: 'stats', class: "link-card" do %>
        <div class="svg-container">
          <span class="iconify" data-inline="false" data-icon="zondicons:chart-bar" style="color: #fff;"></span>
        </div>
        <h5>My Stats</h5>
        <p>See the progress of your journey to quit smoking</p>
      <% end %>
    </div>
    <div class="timer">
      <div class="gradient-background outer-ring">
      </div>
      <div class="black-outer-circle">
        <div class="black-inner-circle">
          <h5>You quit smoking for</h5>
          <div class="timer-count">
            <div class="unit">
              <p class="number">2</p>
              <p>days<p>
            </div>
            <div class="unit">
              <p class="number">15</p>
              <p>hours<p>
            </div>
            <div class="unit">
              <p class="number">37</p>
              <p>minutes</p>
            </div>
          </div>
          <h5>Keep it up!</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="wave-top">
    <div class="inner-wave-top"></div>
  </div>
  <div class="bottom-section">
      <div class="derby">
        <h3>The Nicotine Derby</h3>
        <p>Aim to reduce the amount you smoke, race against others and win the Nicotine Derby!<br>Not a smoker? Encourage the users participating by betting on them and follow their progress throughout the race!</p>
        <p id="races-b"><%= link_to "Go to the races!", race_dashboard_path, id: "races-button" %></p>
      </div>
  </div>
</div>







